# Зависимости
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Сборка проекта
dist/
build/

# Редакторы
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Временные файлы
*.tmp
*.temp
.cache/

# Переменные окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
